.circle-background {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 360px;
  background: white;
}
.circle-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 50vw;
  transform: rotate(180deg);
}
.circle {
  position: fixed;
}
.circle a {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center left;
  font-size: 20pt;
  font-family: 'Inter', sans-serif;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.5s;
}

main {
  position: relative;
  z-index: 0;
  font-size: 18pt;
  padding-top: 200px;
  top: 30vh;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
/* slideshow */
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}


.slide {
  display: none;
}

.img{
width: 100%;
}

/* Style the navigation controls */
.controls {
  user-select: none;
  text-align: center;
  margin-top: 10px;
}

.prev, .next {
  display: inline-block;
  padding: 10px;
  background-color:#fff;
  color:black;
  cursor: pointer;
}
.link{
color: black;
}


@media (min-width: 550px) {
  .circle-background {
    height: 0;
  }
  .circle-wrapper {
    transform: rotate(0deg);
    top: 50vh;
    left: 0vw;
  }
  .circle a {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center left;
    font-size: 25pt;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: 0.5s;
  }
  @keyframes text-animation {
    from {
      font-variation-settings: "wght" 400;
    }
    to {
      font-variation-settings: "wght" 800;
    }
  }
  .circle a:hover {
    font-family: 'Inter', sans-serif;
    transition: font-variation-settings 0.3s ease;
    animation-name: text-animation;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    }
    
  main {
    top: 0;
    padding-top: 0;
    padding-left: 40vw;
    padding-bottom: 200px;
  }
}
h1{
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 800;
}